// fonts
$main_font: "Montserrat-Regular", sans-serif;
$main_font_light: "Montserrat-Light", sans-serif;
$main_font_semibold: "Montserrat-SemiBold";
$main_font_bold: "Montserrat-Bold";

$supporting_font: "Bebas Regular";
$supporting_font_thin: "Bebas Thin";
$supporting_font_bold: "Bebas Bold";

// colours
$white: #fff;
$main_color: #f5a623;
$black: #272c30;
$orange: #e88140;
