.title-widget{
	margin: 70px 0 0;
	@media (max-width: 575px) {
		margin: 50px 0;
	}
	.cta-area {
		background-color: rgb(217, 100, 100);
		text-align: center;
		padding: 14px;
		margin: 0 auto;
		max-width: 872px;
		.title {
			color: rgb(255, 255, 255);
			line-height: 1.2;
			font-size: 22px;
			font-weight: 700;
			margin: 0;
			@media (max-width: 575px) {
				font-size: 18px;
			}
		}
	}
	.title {
		font-size: 48px;
		font-weight: 700;
		line-height: 1.2;
		text-align: center;
		max-width: 872px;
		margin: 25px auto 0;
		@media (max-width: 767px) {
			font-size: 36px;
		}
		@media (max-width: 575px) {
			font-size: 28px;
		}
	}
}